<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/movies/edit.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form id="new-form" action="/flights/<%= flight._id %>?_method=PUT" method="POST">
    <label for="airline-input">Airline:</label>
    <input type="text" name="airline" value="<%= flight.line %>" id="airport-input">
    <label for="flightNo-input">Flight Number:</label>
    <input 
      type="text" 
      name="flightNo"
      value="<%= flight.flightNo %>"
      id="flightNo-input"
    >
    <label for="airport-select">Airport</label>
    <select name="airport" id="airport-select" >
      <option value="<%= flight.airport %>"><%= flight.aiport %></option>
      <option value="AUS">AUS</option>
      <option value="DFW">DFW</option>
      <option value="DEN">DEN</option>
      <option value="LAX">LAX</option>
      <option value="SAN">SAN</option>
    </select>
    <button type="submit">Save Flight</button>
  </form>
</main>

<%- include("../partials/footer") %>