<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <a href="/flights/<%= flight._id %>/edit">
    <button>Edit Flight</button>
  </a>
  <section>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>Airline: </div>
    <div><%= flight.airline %></div>
    <div> Flight Number:</div>
    <div><%= flight.flightNo %></div>
    <div>Departure: </div>
    <div><%= flight.departs %></div>
    <%# start meal list %>
    <br>
    <div>Inflight Meal Options:</div>
    <ul>
      <% flight.meals.forEach(meal => { %>
        <li><%= meal.name %></li>
      <% }) %>
    </ul>
	<%# end meal list %>
  </section>
  <%# add to meal form below this comment %>
  <form id="add-per-to-meal" action="/flights/<%= flight._id %>/meals" method="POST">
    <select name="mealId">
      <% meals.forEach(meal => { %>
        <option value="<%= meal._id %>"><%= meal.name %></option>
      <% }) %>
    </select>
    <button type="submit">Add to Meal Plan</button>
  </form>
</section>
<% // new markup below %>
<h2>Tickets</h2>
<form 
  id="add-ticket-form"
  action="/flights/<%= flight._id %>/tickets"
  method="POST"
>
  <label for="content-textarea">Seat:</label>
  <input name="seat" required pattern="[A-F][1-9]\d?">
  <label for="seat-select">Price:</label>
  <select name="price" id="price-select">
    <option value="50">$50 (coach)</option>
    <option value="100">$100 (business)</option>
    <option value="200">$200 (economy plus)</option>
    <option value="300">$300 (first class)</option>
    <option value="400" selected>$400 (first class priority)</option>
  </select>
  <button type="submit">Add Ticket</button>
</form>

<% if (flight.tickets.length) { %>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Seat</th>
          <th>Price (In USD)</th>
        </tr>
      </thead>
      <tbody>
        <% flight.tickets.forEach(ticket => { %>
          <tr>
            <td><%= ticket.createdAt.toLocaleDateString() %></td>
            <td><%= ticket.seat %></td>
            <td><%= ticket.price %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h3>No Ticket Changes</h3>
  <% } %>
</main>
  
<%- include('../partials/footer') %>